<%- include('./partials/main') %>

<!-- Start Page Banner Area -->
<div class="page-banner-area bg-2 pt-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Your History</h2>
            <ul>
                <li>
                    <a href="/">
                        <i class="ri-home-8-line"></i>
                        Home 
                    </a>
                </li>
                <li>
                    <span>Past Reports</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->




<%- include('./partials/end') %>