<%- include('./partials/main') %>

<!-- Start Page Banner Area -->
<div class="page-banner-area bg-2 pt-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Doctors</h2>
            <ul>
                <li>
                    <a href="/">
                        <i class="ri-home-8-line"></i>
                        Home 
                    </a>
                </li>
                <li>
                    <span>Patient Care</span>
                </li>
                <li>
                    <span>Doctors</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->


<!-- Start Our Department Area -->
<div class="our-department-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">OUR DOCTORS</span>
            <h2>Memory is the fabric upon which time is carved</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-6">
                <div class="single-our-department">
                    <img src="/public/images/department/department-1.jpg" alt="Image">

                    <div class="department-content one">
                        <h3>
                            <a href="department-orthopedics.html">
                                Dental
                            </a>
                        </h3>

                        <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
                    </div>

                    <div class="department-content hover">
                        <div class="icon">
                            <i class="flaticon-fracture"></i>
                        </div>
                        <h3>
                            <a href="department-orthopedics.html">
                                Dental
                            </a>
                        </h3>
                        <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.</p>
                        <a href="department-orthopedics.html" class="read-more">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="single-our-department">
                    <img src="/public/images/department/department-2.jpg" alt="Image">

                    <div class="department-content one">
                        <h3>
                            <a href="department-orthopedics.html">
                                Orthopedics
                            </a>
                        </h3>

                        <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
                    </div>

                    <div class="department-content hover">
                        <div class="icon">
                            <i class="flaticon-fracture"></i>
                        </div>
                        <h3>
                            <a href="department-orthopedics.html">
                                Orthopedics
                            </a>
                        </h3>
                        <p><p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.</p></p>
                        <a href="department-orthopedics.html" class="read-more">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="single-our-department">
                    <img src="/public/images/department/department-3.jpg" alt="Image">

                    <div class="department-content one">
                        <h3>
                            <a href="department-orthopedics.html">
                                Neurosciences
                            </a>
                        </h3>

                        <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
                    </div>

                    <div class="department-content hover">
                        <div class="icon">
                            <i class="flaticon-fracture"></i>
                        </div>
                        <h3>
                            <a href="department-orthopedics.html">
                                Neurosciences
                            </a>
                        </h3>
                        <p><p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.</p></p>
                        <a href="department-orthopedics.html" class="read-more">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Our Department Area -->

<!-- Start Knock us Area -->
<div class="knock-us-area bg-color-0057b8 ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="knock-us-content">
                    <h3>Knock us out today to get medical services</h3>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="knock-us-btn">
                    <a href="appointment.html" class="default-btn active">Book An Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Knock us Area -->

<%- include('./partials/end') %>