<%- include('./partials/main') %>
<!-- Start Page Banner Area -->
<div class="page-banner-area bg-25 pt-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Code Of Conduct</h2>
            <ul>
                <li>
                    <a href="index.html">
                        <i class="ri-home-8-line"></i>
                        Home 
                    </a>
                </li>
                <li>
                    <span>Code Of Conduct</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->

<!-- End Terms & Conditions Area -->
<section class="ptb-100">
    <div class="container">
        <div class="main-content-text">
            <h3>1. Acceptance of Terms:</h3>
            <p>By using the app, you agree to comply with these Terms and Conditions.</p>

            <div class="gap-20"></div>

            <h3>2. User Eligibility:</h3>
            <p>You must be of legal age to use the app or have the consent of a legal guardian.</p>

            <div class="gap-20"></div>

            <h3>3. User Accounts:</h3>
            <p>You are responsible for maintaining the confidentiality of your account credentials.</p>
            <p>You agree to provide accurate and up-to-date information during registration.</p>

            <div class="gap-20"></div>

            <h3>4.  Privacy and Security:</h3>
            <p>We take the privacy and security of your information seriously. Refer to our Privacy Policy for details on data collection, use, and protection.</p>
            <div class="gap-20"></div>

            <h3>6. Use of the App:</h3>
            <p>You agree to use the app for lawful and ethical purposes.</p>
            <p>Do not engage in activities that violate the law or infringe on the rights of others.</p>

            <div class="gap-20"></div>

            <h3>7. Content Ownership:</h3>
            <p>Users retain ownership of their content but grant us a license to use, display, and distribute it within the app.</p>
            
            <div class="gap-20"></div>
            <h3>8. Termination of Account:</h3>
            <p>We reserve the right to suspend or terminate accounts for violation of these Terms and Conditions.</p>
            
            <div class="gap-20"></div>
            <h3>9. Changes to Terms:</h3>
            <p>We may update these Terms and Conditions. It is your responsibility to review them periodically.</p>
            
            <div class="gap-20"></div>
            <h3>9. Disclaimer:</h3>
            <p>The app is not a substitute for professional medical advice. Consult with a qualified healthcare professional for personalized health recommendations.</p>
            <p>We are not liable for any damages arising from the use of the app.</p>

            By using WellScan HealthCare App, you agree to these Terms and Conditions. If you do not agree, please discontinue use.
        </div>
    </div>
</section>
<!-- End Terms & Conditions Area -->


<%- include('./partials/end') %>