
        <%- include('./footer') %>
        
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script src="public/js/jquery.min.js"></script>
        <script src="public/js/bootstrap.bundle.min.js"></script>
		<script src="public/js/meanmenu.min.js"></script>
		<script src="public/js/owl.carousel.min.js"></script>
		<script src="public/js/swiper-bundle.min.js"></script>
		<script src="public/js/appear.min.js"></script>
		<script src="public/js/odometer.min.js"></script>
		<script src="public/js/wow.min.js"></script>
		<script src="public/js/jspdf.debug.js"></script>
		<script src="public/js/form-validator.min.js"></script>
		<script src="public/js/contact-form-script.js"></script>
		<script src="public/js/ajaxchimp.min.js"></script>
		<script src="public/js/custom.js"></script>
    
    </div></body></html>