<!DOCTYPE html>
<html lang="zxx" class="theme-light"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Required meta tags -->
		
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/public/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/public/css/swiper-bundle.min.css">
		<link rel="stylesheet" href="/public/css/flaticon.css">
		<link rel="stylesheet" href="/public/css/remixicon.css">
		<link rel="stylesheet" href="/public/css/meanmenu.min.css">
		<link rel="stylesheet" href="/public/css/odometer.min.css">
		<link rel="stylesheet" href="/public/css/animate.min.css">
		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="stylesheet" href="/public/css/dark-mode.css">
		<link rel="stylesheet" href="/public/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="">
		<!-- Title -->
		<title>MediBlock - About Us</title>

		<style>
			.bg-color-0057b8 {
				background-color: #0da487;
			}
		</style>
    <body>

		<!-- Start Header Area -->
		<%- include('./topbar') %>
		<!-- End Header Area -->

		<!-- Start Navbar Area --> 
		<%- include('./navbar') %>
		<!-- End Navbar Area -->

		

