<div class="navbar-area">
  <div class="mobile-responsive-nav">
    <div class="container">
      <div class="mobile-responsive-menu">
        <div class="logo">
          <a href="/">
            <img src="./public/images/logo.png" class="main-logo" alt="logo">
            <img src="./public/images/white-logo.png" class="white-logo" alt="logo">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="desktop-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
          <img src="./public/images/logo.png" class="main-logo" alt="logo">
          <img src="./public/images/white-logo.png" class="white-logo" alt="logo">
        </a> 
        
        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="display: block;">
          <ul class="navbar-nav m-auto">
            <li class="nav-item">
              <a href="/" class="nav-link border-style active">Home</a>
            </li>

            <li class="nav-item">
              <a href="/about" class="nav-link border-style ">About Us</a>
            </li>

            <li class="nav-item">
              <a href="/doctors" class="nav-link border-style ">Doctors</a>
            </li>
            <li class="nav-item">
              <a href="/code-of-conduct" class="nav-link border-style ">Code of Conduct</a>
            </li>

            <li class="nav-item">
              <a href="/contact-us" class="nav-link border-style">Contact Us</a>
            </li>
          </ul>

          <div class="others-options">
            <ul class="d-flex align-items-center">
              <li>
                <a href="/appointment" class="default-btn">
                  <i class="ri-clipboard-line"></i>
                  <span>Book An Appointment</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>


  <div class="others-option-for-responsive">
    <div class="container">
      <div class="dot-menu">
        <div class="inner">
          <div class="circle circle-one"></div>
          <div class="circle circle-two"></div>
          <div class="circle circle-three"></div>
        </div>
      </div>
      
      <div class="container">
        <div class="option-inner">
          <div class="others-options justify-content-center">
            <ul class="d-flex align-items-center">
              <li>
                <a href="/patient-register" class="default-btn">
                  <span>Register</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>