<!-- Start Header Area -->
<div class="top-header-area bg-color-091c47">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <ul class="header-left-content">
          <li>
            <span>Phone:</span>
            <a href="tel:+918850664191">+91 88506-64191</a>
          </li>
          <li>
            <span>Email:</span>
            <a href="mailto:test.mediblock@gmail.com">test.mediblock@gmail.com</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4">
        <ul class="header-right-content">
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Header Area -->